@model N01521496_C1_w22.Models.TeacherObject
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Teacher's details</h2>
<form id="editTeacherForm" method="post" action="/TeacherDisplay/Update/@Model.TeacherId">
    <div>
        <label for="f_name">First Name:</label>
        <input type="text" name="f_name" id="f_name" value=@Model.TeacherFname>
    </div>

    <div>
        <label for="l_name">Last name:</label>
        <input type="text" name="l_name" id="l_name" value=@Model.TeacherLname>
    </div>

    <div>
        <label for="empNum">Employee Number:</label>
        <input type="text" name="empNum" id="empNum" value=@Model.EmployeeNumber>
    </div>


    <div>
        <label for="salary">Salary:</label>
        <input type="number" name="salary" id="salary" value=@Model.Salary>
    </div>
    <div>
        <button type="submit" class="deleteT">Update</button>
    </div>
</form>

    <script type="text/javascript">
        var updateFormHandle = document.forms.editTeacherForm;


        updateFormHandle.onsubmit = function () {
            console.log("processUpdateForm is called")
            var f_name = updateFormHandle.f_name;
            var l_name = updateFormHandle.l_name;
            var empNum = updateFormHandle.empNum;
            var salary = updateFormHandle.salary;

            if (!f_name.value || f_name.value.trim() === "") {
                console.log("error in fname");
                document.getElementById("f_name").style.background = "red";
                document.getElementById("f_name").addEventListener("click", function () {
                    colorwhite("f_name");
                });
                return false;
            }
            if (!l_name.value || l_name.value.trim() === "") {
                document.getElementById("l_name").style.background = "red";
                document.getElementById("l_name").addEventListener("click", function () {
                    colorwhite("l_name");
                });
                return false;
            }
            if (!empNum.value || empNum.value.trim() === "") {
                document.getElementById("empNum").style.background = "red";
                document.getElementById("empNum").addEventListener("click", function () {
                    colorwhite("empNum");
                });
                return false;
            }

            if (!salary.value || salary.value === null) {
                document.getElementById("salary").style.background = "red";
                document.getElementById("salary").addEventListener("click", function () {
                    colorwhite("salary");
                });
                return false;
            }

            function colorwhite(id) {
                document.getElementById(id).style.backgroundColor = "white";
            }

        }
    </script>